---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }}
        {{ site.last_name }}
      {% else %}
        {{ site.title }}
      {% endif %}
    </h1>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
      <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1
      rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.2}}px, (min-width: 576px)
      20vw, 70vw"{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image
            cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    {% endif %}

    <div class="clearfix">{{ content }}</div>

    <!-- News -->
    {% if site.announcements.enabled %}
      <h3>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h3>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts.enabled %}
      <h3>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">Latest Posts</a>
      </h3>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h3>
        <br><a href="{{ '/publications/' | relative_url }}" style="color: inherit">Publication Spotlight</a>
      </h3>  
      <small>* = Co-first authorship. The full publication list is</small>
      <small><a href="{{ '/publications/' | relative_url }}" style="color: #0076df">here</a></small>.
      {% include selected_papers.liquid %}
    {% endif %}
    
    <!-- Experience -->  
    <div class="Academic and Research Experience">
      <h3>Academic Experience</h3>
      <p>
        <b>Yonsei University</b><sup>&nbsp;2022 - Expected 2027</sup><br>
        Ph.D. student in Artificial Intelligence<br>
        <i>Took a sememster off (25 Fall) for Taiwan's mandatory military service.</i>
      </p>
      <p>
        <b>Yonsei University</b><sup>&nbsp;2018 - 2022</sup><br>
        B.Sc. in Mechanical Engineering
      </p>
      <p>
        <b>National Taiwan University</b><sup>&nbsp;2016 - 2018 (Voluntarily Ceased)</sup><br>
        B.Sc. in Mechanical Engineering
      </p>
    </div>

    <!-- lang -->  
    <div class="Spoken Languages">
      <h3>Spoken Languages</h3>
      <p>
        <b>Native:</b><br>
        Taiwanese Mandarin, <a href="https://en.wikipedia.org/wiki/Taiwanese_Hokkien">Taiwanese Hokkien</a><br>
      </p>
      <p>
        <b>Full professional proficiency (C1+):</b><br>
        English (Toeic 980), Korean (Topik 6)
      </p>
      <p>
        <b>Basic conversational ability (A1-2):</b><br>
        Spanish, Japanese
      </p>
      <p>
        <b>Casually learning a few words here and there (A0):</b><br>
        Thai<br>
      </p>
    </div>

    <!-- activity -->  
    <div class="Academic Service">
      <h3>Activities</h3>
      <p>
        <b>Program reviewer (including non-official):</b>&nbsp;AAAI (2023, 2024, 2025), ACL (2023, 2024, 2025), EMNLP (2023, 2024, 2025), ​EACL (2024)
      </p>
      <p>
        <b>Co-organiser:</b>&nbsp;Multi-Camera Robust Classification of Fundus Diseases (MuCaRD) Challenge, MICCAI 2025
      </p>
      <p>
        <b>Teaching (TA):</b>
        <ul>
        <li>Introduction to AI (AAI2250), Yonsei university <em>(Fall, 2024)</em></li>
        <li>NLP (AAI3301), Yonsei university <em>(Spring, 2024)</em></li>
        <li>AI expert program, Samsung, Korea <em>(Jul, 2023 & Fall, 2024)</em></li>
        <li>Big data (CSI4121), Yonsei university <em>(Spring, 2023)</em></li>
        </ul>
      </p>
      <p>
        <b>Mentoring:</b>
        <ul>
        <li>Seung Woo Baek (Spring 2025): Paper accepted to KIISE Special Issue (Feb 2025).</li>
        <li>Taeyoon Kwon (Fall, 2023): Papers accepted to AAAI 2024 and IOVS 2024.</li>
        </ul>
       </p>
    </div>

    <!-- travel -->  
    <div class="Conference Attendance">
      <h3>Conference Attendance</h3>
      <p>
        <b>Upcoming:</b>&nbsp; N/A<br>
      </p>
      <p>
        <b>Past:</b>&nbsp;NAACL 2025 (USA), ACL 2024 (Thailand), EMNLP 2023 (Singapore), IEEE ISBI 2023 (Colombia), Coling 2022 (Korea)<br>
      </p>
    </div>

    <!-- interest -->  
    <div class="Interests">
      <h3>Interest</h3>
      <p>
        I enjoy weight training, martial arts, and learning languages.
      </p>
    </div>

    
    
    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter.enabled and site.footer_fixed %}
      {% include scripts/newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
